<section class="hero is-small">
  <div class="hero-body">
    <p class="title">
      Editing Friend
    </p>
  </div>
</section>

<%= render 'form', friend: @friend %>

<%= link_to 'Show', @friend, class:"button"  %>
<%= link_to 'Back', friends_path, class:"button"  %>
